body {
  font-family: "Montserrat";
}

h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  color: #800080;
  font-weight: bold;
}

p {
  line-height: 2;
}

.titulo{
  background-color: rgb(128,0,128);
  color: #fff;
}

.container-fluid {
  padding: 3% 10%;
}

/* Barra de Navegação */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.web-developer {
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.student {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.passa-tempo-1 {
  margin-top: 30px;
}

.passa-tempo-2 {
  margin-top: 30px;
}

.hobby-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.hobby-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.carousel-content {
  background-color: rgb(128,0,128);
  color: #fff;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-img {
  width: 25%;
}

.man-img {
  width: 15%;
}

.footer {
  height: 100px;
  background-color: rgb(128,0,128);
  color: #fff;
  text-align: center;
}
.icons {
  margin: 0 5px;
}

.copyright {
  padding-top: 45px;
}
